#quotes1 img {
  width: 80%;
  height: auto;
  object-fit: contain;
  align-content: center;
  /* position: absolute; */
  /* left: 1200px;
  bottom: 55px; */
  border: 2px solid red;
  display: block;
}

#quotesText {
  /* position: absolute; */

  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  font-size: 30px;
  color: black;
  background: white;
  border-radius: 20px;
  border: 2px solid red;
}

.quotescontainer{
  width: 20%;
  top: 12%;
  margin-left: 80px;
  position: absolute;
}