#reminder1 img {
  width: 80%;
  height: auto;
  object-fit: contain;
  /* position: absolute; */
  /* border: 2px solid red; */
}

#reminderText {
  /* position: absolute; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  color: white;
  background: #97096f;
  border-radius: 20px;
  /* border: 2px solid red; */
}

.reminderscontainer{
  width: 11%;
  top: 60%;
  margin-left: 190px;
  position: absolute;
}